version: '3.7'
services:
  redis:
    image: redis
    networks:
      - webnet
  db:
    image: postgres
    networks:
      - webnet
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: twitter
  web:
    image: twitter-api:latest
    ports:
      - 4000:8080
    networks:
      - webnet
    depends_on:
      - db
      - redis
    restart: on-failure
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: twitter
      REDIS_HOST: redis
      REDIS_URL: redis://redis:6379
      SESSION_SECRET: twitterDBexpressSecret
    command: ['./wait-for-it.sh', 'db:5432', '--', 'node', 'dist/src/index.js']
networks:
  webnet:
